.chat {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
  background-color: #242424;
  padding: 0;
}

.chatItem {
  list-style: none;
}

.chatItem::before {
  font-family: monospace;
}

.chatItem[data-type="0"] {
  /* chat general */
  color: #e9e9e9;
}
.chatItem[data-type="0"]::before {
  content: "/s ";
}
.chatItem[data-type="1"] {
  /* chat equipe */
  color: #ff006c;
}
.chatItem[data-type="1"]::before {
  content: "/t ";
}
.chatItem[data-type="2"] {
  /* chat guilde */
  color: #975fff;
}
.chatItem[data-type="2"]::before {
  content: "/g ";
}
.chatItem[data-type="3"] {
  /* chat alliance */
  color: #ffad42;
}
.chatItem[data-type="3"]::before {
  content: "/p ";
}
.chatItem[data-type="4"] {
  /* chat groupe */
  color: #00e4ff;
}
.chatItem[data-type="4"]::before {
  content: "/g ";
}
.chatItem[data-type="5"] {
  /* chat commerce */
  color: #b3783e;
}
.chatItem[data-type="5"]::before {
  content: "/b ";
}
.chatItem[data-type="6"] {
  /* chat recrutement */
  color: #e4a0d5;
}
.chatItem[data-type="6"]::before {
  content: "/r ";
}
.chatItem[data-type="9"] {
  /* chat prive */
  color: #7d1cfd;
}
.chatItem[data-type="9"]::before {
  content: "/w ";
}
.chatItem[data-type="14"] {
  /* chat comunautee */
  color: #adea87;
}
.chatItem[data-type="14"]::before {
  content: "/c ";
}

.chatFilter {
  border-radius: 1rem;
  border: grey solid 1px;
  padding: .25rem;
  margin: 0 .5rem;
}