.chat {
  
}

.chat__header {
  margin-bottom: 1rem;
}

.chat__header__form {
  display: flex;
}

.chat__header__form__input {
  position: relative;
  margin-right: .5rem;
}

.chat__header__form__input input {
  margin-right: 0; 
}

.chat__header__form__input input:focus + .chat__header__form__input__proposals {
  visibility: visible;
}

.chat__header__form__input__proposals {
  /*display: none;*/
  visibility: hidden;
  position: absolute;
  max-height: 10rem;
  overflow: auto;
  width: 100%;
  transition: visibility 100ms 50ms;
}

.chat__header__form__input__proposals__item {
  background: #FFF;
  border-radius: 0;
  color: inherit;
  padding: .5rem;
  margin: 0;
  width: 100%;
  text-align: left;
}

.chat__header__form__input__proposals__item:hover {
  background: #DDD;
}

.chat__notifications__table {
  width: 100%;
  background-color: #FFF;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  text-align: left;
  overflow: hidden;
}

.chat__notifications__table td, .chat__notifications__table th {
  border-bottom: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  padding : .5rem;
}

.chat__notifications__table tr:last-child td {
  border-bottom: unset;
}

.chat__notifications__table tr td:last-child, .chat__notifications__table tr th:last-child {
  text-align: right;
  border-right: unset;
  width: 1%;
  white-space: nowrap;
}

.chat__notifications__table button {
  margin: 0; 
}