.App {
  /* text-align: center; */
}

.App-logo {
  height: 2rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  height: 3rem;
  display: flex;
  /* flex-direction: column; */
  align-items: stretch;
  justify-content: space-between;
  font-size: 2rem;
  color: #d7d3cb;
  background-color: #282c34;
  box-shadow: 0 3px 5px #282c34;
}

.App-nav {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}

.App-nav-item {
  padding: 0.25rem 1rem;
  transition: all .3s linear;
  color: inherit;
}

.App-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
